* {
  margin: 0rem;
  padding: 0rem;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

body,
a {
  color: #393939;
}

a {
  text-decoration: none;
}

header,
footer {
  padding: 1rem;
  background-color: #fff0ed;
}

header,
.header__logo,
.header-nav__list {
  display: flex;
}

header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1,
h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.0625rem;
}

nav a,
button {
  font-size: 1.3125rem;
}

p {
  font-size: 1.125rem;
}

button {
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 11.25rem;
  padding: 1.25rem;
}

ul {
  list-style-type: none;
}

.header__logo {
  justify-content: center;
  align-items: center;
}

.icon {
  width: 3.125rem;
}

.header-nav__list {
  justify-content: space-evenly;
}

.header-nav__link {
  padding: 0rem 1.25rem;
}

.header-nav__link--shop-now {
  color: #5bacc3;
}

.stack__price {
  color: #5bacc3;
}
