/* TODO:
- align and pad footer content properly - DONE
- edit sub navigation to match style guide
*/

section h1,
section p {
  margin: 20px 0px;
}

.stack {
  padding: 20px 0px;
}

.stack--products, .discount-text {
  text-align: center;
}

.stack--intro,
.stack__container,
.card,
.card__body-container,
.card__text-container,
footer,
.stack__desc--about,
.stack__icons--about {
  display: flex;
}

.stack--intro,
.stack__container,
.card__text-container,
.stack__icons--about
footer {
  flex-wrap: wrap;
}

.card,
.card__body-container {
  flex-direction: column;
  justify-content: space-between;
}

.stack--intro,
footer,
.card__text-container {
  background-color: #fff0ed;
}

.stack--intro {
  justify-content: space-around;
  align-items: center;
}

.stack__desc--intro {
  width: 28%;
  text-align: left;
}

.stack--products {
  background-color: #f7f7f7;
}

.stack__container {
  justify-content: center;
}

.stack--products h2,
.stack__button-container--products {
  margin-top: 48px;
  margin-bottom: 48px;
}

.stack__button-container--products,
.card__image,
.discount-text {
  margin-left: auto;
  margin-right: auto;
}

.stack__price {
  font-size: 2.0625rem;
  font-weight: bold;
}

.card {
  box-sizing: border-box;
  background-color: white;
  width: 330px;
  height: 440px;
  /* padding: 20px; */
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px;
  color: rgba(0, 0, 0, 0.25);
  /* margin-left: 44px;
  margin-right: 44px;
  padding: 0px;  */
}

.card__title {
  color: #393939;
}

.card__title,
.card__desc,
.card__price {
  margin: 0;
  padding: 0;
}

.card__desc {
  color: #909090;
}

.card__image {
  padding: 20px;
  height: 280px;
}

.card__text-container {
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px;
  border-radius: 0px 0px 10px 10px;
}

.card__body-container {
  justify-content: space-around;
  align-items: flex-start;
}

.stack--about {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
}

.stack__desc--about {
  flex-direction: column;
  width: 35%;
  justify-content: center;
}

.stack--discount {
  width: 90%;
  margin: auto;
}

.stack__icons--about {
  justify-content: space-between;
  margin-bottom: 20px;
}

.about-image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/coldbrewbackground.png");
  width: 400px;
  height: 400px;
  padding: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.discount-text {
  font-size: 45px;
  color: white;
  width: 90%;
  background-color: #393939;
  padding: 24px;
}

.discount-text--bold,
.footer__copy--bold {
  font-weight: 700;
}

footer {
  justify-content: space-evenly;
  overflow: hidden;
  align-items: baseline;
  position: relative;
  padding: 40px;
}

.footer__title {
  padding: 20px 0px;
}

.bg-icon {
  position: absolute;
}

.bg-icon--left {
  top: 5%;
  left: -2%;
}

.bg-icon--right {
  top: 40%;
  left: 95%;
}
