/* TODO:
- align and pad footer content properly - DONE
- edit sub navigation to match style guide
*/

section h1,
section p {
  margin: 1.25rem 0rem;
}

.stack {
  text-align: center;
  padding: 1.25rem 0rem;
}

.stack--intro,
footer,
.card__text-container {
  background-color: #fff0ed;
}

.stack__desc--intro {
  width: 25%;
  text-align: left;
  margin: 0rem 12rem 0rem 4rem;
}

.stack__img--intro {
  margin: 0rem 4rem 0rem 12rem;
}

.stack__desc--intro,
.stack__img--intro,
.card {
  vertical-align: middle;
}

.stack--products {
  background-color: #f7f7f7;
}

.stack__container,
.card__text-container,
footer {
  display: flex;
  flex-wrap: wrap;
}

.stack__container {
  justify-content: center;
}

.stack--products h2,
.stack__button--products {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.stack__button--products,
.card__image,
.discount-text {
  margin-left: auto;
  margin-right: auto;
}

.stack__price {
  font-size: 33px;
  font-weight: bold;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 20.625rem;
  height: 27.5rem;
  /* padding: 1.25rem; */
  margin: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  /* margin-left: 2.75rem;
  margin-right: 2.75rem;
  padding: 0rem;  */
}

.card__title {
  color: #393939;
}

.card__title,
.card__desc,
.card__price {
  margin: 0;
  padding: 0;
}

.card__desc {
  color: #909090;
}

.card__image {
  padding-top: 1rem;
}

.card__text-container {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.25rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
}

.card__body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.stack--discount {
  width: 90%;
  margin: auto;
}

.discount-text {
  font-size: 2.8125rem;
  color: white;
  width: 90%;
  background-color: #393939;
  padding: 1.5rem;
}

.discount-text--bold,
.footer__copy--bold {
  font-weight: 700;
}

footer {
  justify-content: space-evenly;
  align-items: baseline;
}

.footer__item {
  padding: 1.25rem;
}

.footer__title {
  padding: 1.25rem 0rem;
}
