.stack,
.stack__body,
.main-nav,
.main-nav__list,
.stack--hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack,
.stack__body {
  flex-direction: column;
}

.stack__title,
.stack__body {
  margin: 20px;
}

h1,
.main-nav,
.main-nav__item,
.main-nav__link {
  background-color: #393939;
  color: white;
  text-transform: uppercase;
}

.stack--hero {
  height: 700px;
  width: 100%;
  background-image: url("../assets/images/coffee-circle.jpg");
  background-position: center;
  background-size: cover;
}

.stack--hero-text {
  width: 18.75rem;
  height: 12.5rem;
}

.stack--hero-text {
  background-color: #393939;
  position: relative;
}

.main-nav,
.main-nav__item,
.main-nav__link,
.stack__copy {
  text-align: center;
}

.main-nav {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}

.main-nav__link {
  border-left: 5px solid #5bacc3;
  margin: 20px 0px;
  padding: 0px 20px;
}

.stack--hot-drinks,
.stack--pastries {
  background-color: #fff0ed;
}

.stack--cold-drinks {
  background-color: #f7f7f7;
}

.stack__copy {
  font-style: italic;
  width: 40%;
}
