@use './partials/global' as *;
@use './partials/colors' as *;
@use './partials/mixins' as *;

section h1,
section p {
  margin: 1.25rem 0rem;
}

.stack {
  padding: 1.25rem 0rem;
  &__container {
    @include display(flex, center, center, row);
    flex-wrap: wrap;
  }
  &__desc {
    &--intro {
      width: 28%;
      text-align: left;
    }
    &--about {
      @include display(flex, center, left, column);
      width: 32%;
    }
  }
  &__icons--about {
    @include display(flex, space-between, center, row);
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
  }
  &--intro {
    @include display(flex, space-around, center, row);
    flex-wrap: wrap;
    background-color: $nitro-pink;
  }
  &--products {
    text-align: center;
    background-color: $lightgray;
    h2 {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
  &--about {
    @include display(flex, space-around, center, row);
    margin: 6.75rem 0rem;
  }
  &--discount {
    width: 90%;
    margin: auto;
    padding-bottom: 11.25rem;
  }
}

.card {
  @include display(flex, space-between, center, column);
  background-color: white;
  width: 20.625rem;
  height: 27.5rem;
  margin: 1.25rem 2.5rem;
  border-radius: .625rem;
  box-shadow: 0 .3125rem .5625rem -0.0625rem;
  color: rgba(0, 0, 0, 0.25);
  &__image {
    margin: auto;
    padding: 1.25rem;
    height: 17.5rem;
  }
  &__body-container {
    @include display(flex, space-around, flex-start, column);
  }
  &__text-container {
    @include display(flex, space-between, center, row);
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: $nitro-pink;
    padding: 2rem 1.25rem;
    width: 100%;
    border-radius: 0rem 0rem .625rem .625rem;
  }
  &__title {
    color: $graphite;
    @include reset_margins;
  }
  &__desc {
    color: $gray;
    @include reset_margins;
  }
  &__price {
    font-size: 2.0625rem;
    font-weight: bold;
    @include reset_margins;
  }
}

.btn__container--products {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.about-image {
  @include display(flex, center, center, row);
  box-sizing: border-box;
  background-image: url("../assets/images/coldbrewbackground.png");
  width: 25rem;
  height: 25rem;
  padding: 1.25rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.discount-text {
  text-align: center;
  font-size: 2.8125rem;
  color: white;
  width: 90%;
  background-color: $graphite;
  padding: 1.5rem;
  margin: auto;
  &--bold {
    font-weight: 700;
  }
}

.footer {
  @include display(flex, space-evenly, baseline, row);
  text-align: left;
  background-color: $nitro-pink;
  overflow: hidden;
  position: relative;
  padding: 2.5rem;
  &__title {
    padding: 1.25rem 0rem;
  }
  &__copy--bold {
    font-weight: 700;
  }
}

.bg-icon {
  position: absolute;
  &--left {
    top: 5%;
    left: -2%;
  }
  &--right {
    top: 40%;
    left: 95%;
  }
}