* {
  margin: 0;
  padding: 0;
}

body, a {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff0ed;
  flex-wrap: wrap;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1,
h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.0625rem;
}

nav a {
  font-size: 1.3125rem;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.125rem;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header-nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.header-nav__link {
  padding: 0rem 1.25rem;
}
.header-nav__link--shop-now {
  color: #5bacc3;
}

.btn {
  font-size: 1.3125rem;
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 11.25rem;
  padding: 1.25rem;
  position: relative;
}
.btn__container {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.border, .border__btn, .border__blue {
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
}
.border__blue {
  border: 0.3125rem solid #5bacc3;
  top: -0.9375rem;
  left: -0.9375rem;
}
.border__btn {
  border: 0.125rem solid #393939;
  top: -0.3125rem;
  left: -0.3125rem;
}

.icon {
  width: 3.125rem;
}

.bg-icon {
  width: 7.5rem;
  opacity: 25%;
}

.price {
  color: #5bacc3;
}

section h1,
section p {
  margin: 1.25rem 0rem;
}

.stack {
  padding: 1.25rem 0rem;
}
.stack__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.stack__desc--intro {
  width: 28%;
  text-align: left;
}
.stack__desc--about {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 32%;
}
.stack__icons--about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.stack--intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff0ed;
}
.stack--products {
  text-align: center;
  background-color: #F7F7F7;
}
.stack--products h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.stack--about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 6.75rem 0rem;
}
.stack--discount {
  width: 90%;
  margin: auto;
  padding-bottom: 11.25rem;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 20.625rem;
  height: 27.5rem;
  margin: 1.25rem 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem;
  color: rgba(0, 0, 0, 0.25);
}
.card__image {
  margin: auto;
  padding: 1.25rem;
  height: 17.5rem;
}
.card__body-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.card__text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #fff0ed;
  padding: 2rem 1.25rem;
  width: 100%;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
}
.card__title {
  color: #393939;
  margin: 0;
  padding: 0;
}
.card__desc {
  color: #909090;
  margin: 0;
  padding: 0;
}
.card__price {
  font-size: 2.0625rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.btn__container--products {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  background-image: url("../assets/images/coldbrewbackground.png");
  width: 25rem;
  height: 25rem;
  padding: 1.25rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.discount-text {
  text-align: center;
  font-size: 2.8125rem;
  color: white;
  width: 90%;
  background-color: #393939;
  padding: 1.5rem;
  margin: auto;
}
.discount-text--bold {
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: row;
  text-align: left;
  background-color: #fff0ed;
  overflow: hidden;
  position: relative;
  padding: 2.5rem;
}
.footer__title {
  padding: 1.25rem 0rem;
}
.footer__copy--bold {
  font-weight: 700;
}

.bg-icon {
  position: absolute;
}
.bg-icon--left {
  top: 5%;
  left: -2%;
}
.bg-icon--right {
  top: 40%;
  left: 95%;
}/*# sourceMappingURL=landing.css.map */