@use "./partials/global" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;

h1 {
  background-color: $graphite;
  color: white;
  text-transform: uppercase;
}

.stack {
  @include display(flex, center, center, column);
  &__text--hero {
    @include display(flex, center, center, row);
    width: 18.75rem;
    height: 12.5rem;
    background-color: $graphite;
    position: relative;
  }
  &__title {
    margin: 1.25rem;
  }
  &__body {
    @extend .stack;
    @extend .stack__title;
  }
  &__copy {
    font-style: italic;
    width: 40%;
    text-align: center;
  }
  &--hero {
    height: 43.75rem;
    width: 100%;
    background-image: url("../assets/images/coffee-circle.jpg");
    background-position: center;
    background-size: cover;
  }
  &--hot-drinks,
  &--pastries {
    background-color: $nitro-pink;
  }
  &--cold-drinks {
    background-color: $lightgray;
  }
}

.main-nav {
  @include display(flex, center, center, row);
  background-color: $graphite;
  text-align: center;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  &__list {
    @include display(flex, center, center, row);
  }
  &__link {
    border-left: 0.3125rem solid $nitro-blue;
    margin: 1.25rem 0rem;
    padding: 0rem 1.25rem;
    color: white;
    text-transform: uppercase;
  }
}
