@mixin display($display, $justify, $align, $direction) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin reset_margins {
    margin: 0;
    padding: 0;
}